/* Custom Fonts */
@font-face {
    font-family: Spartan;
    src: url(Fonts/Spartan-Regular.ttf);
}

@font-face {
    font-family: Spartan-Bold;
    src: url(Fonts/Spartan-Bold.ttf);
    font-weight: bold;
}

/* Body */
body {
    font-family: Spartan;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
}

/* Elements */
h1 {
    font-family: Spartan-Bold;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    color: blueviolet
}

a:hover {
    font-size: 18px;
    color: blue
}

footer {
    position: absolute;
    right: 1%;
    bottom: 0%;
    text-align: right;
}