/* Custom Fonts */
@font-face {
    font-family: Spartan;
    src: url(Fonts/Spartan-Regular.ttf);
}

@font-face {
    font-family: Spartan-Bold;
    src: url(Fonts/Spartan-Bold.ttf);
    font-weight: bold;
}

/* Header */
.header {
    font-family: Spartan;
    overflow: hidden;
    background-color:rgb(24, 24, 27);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    border-width: 6px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border-radius: 4px;
    margin: 10px;

    transition: all 0.2s linear;
  }
  
  .header a:hover {
    background-color: rgb(180, 180, 180);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.5);
    color: black;
    transition: all 0.2s linear;
  }
  
  .header a.active {
    background-color: dodgerblue;
    box-shadow: 0 0px 10px dodgerblue;
    color: white;
  }

  .header a.active:hover {
    box-shadow: 0 0px 10px dodgerblue;
  }
  
  .header-right {
    float: right;
  }

  .header-left {
      float: left;
  }
  
  @media screen and (max-width: 750px) {
    .header a {
      display: block;
      text-align: left;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 14, 23);
}

/* Text Info Box */
.Info-Box {
    display: flex;
    width: 100%;
    margin-top: 1%;
    border-radius: 3px;
    background-color:rgb(24, 24, 27);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    }

    /* Info Box Elements */
    .Info-Box h1 {
        padding-left: 2rem;
        margin-right: 2rem;
        color: white;
        font-family: Spartan-Bold;
        font-size: 24px;
    }

    .Info-Box h2 {
        padding-left: 2rem;
        margin-right: 2rem;
        color: white;
        font-family: Spartan-Bold;
        font-size: 20px;
    }

    .Info-Box p {
        font-family: Spartan;
        text-align: justify;
        color: white;
        margin-left: 2rem;
        margin-right: 2rem;
    }

.InfoButton {
    display: flex;
    font-family: Spartan;
    background-color: rgb(15, 14, 23);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    padding: 0.3rem 0.3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.2s linear;
}

.InfoButton:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}

.link-icon {
    position: absolute;
    right: 25px;
    width: 24px;
    height: 24px;
}

.header-icon {
    width: 20px;
    height: 20px;
    float: left;
}

/* Project displays */
.Projects {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.Project {
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 1110px) {
    .Projects {
        flex-direction: column;
    }
}

/* Project Display Box */
.Project-Box {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3px;
    }

    .Project-Title {
        display: flex;
        width: 100%;
        text-align: left;
        justify-content: center;
        align-items: center;
    }

    .Project-Icon {
        width: 50px;
        height: 50px;
        float: left;
        align-self: center;
        margin-right: 5px;
    }

    .Project-Box h1 {
        color: white;
        font-family: Spartan-Bold;
        font-size: 24px;
    }

    .Project-Box h2 {
        color: white;
        font-size: 22px;
    }

    .Project-Box p {
        color: white;
        font-size: 20px;
    }

    .Project-Box a {
        align-self: center;
        color: white;
        background-color: rgb(24, 24, 27);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-family: Spartan;
        font-size: 18px;
        line-height: 20px;
        width: 500px;
        border-radius: 4px;
        margin: 10px;
    
        transition: all 0.2s linear;
        }
        
        .Project-Box button {
            align-self: center;
            color: white;
            background-color: rgb(24, 24, 27);
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 20px;
            width: 500px;
            border-radius: 4px;
            margin: 10px;
        
            transition: all 0.2s linear;
            }

      
    .Project-Box a:hover {
        background-color: rgb(180, 180, 180);
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.5);
        color: black;
        font-size: 20px;
        transition: all 0.2s linear;
        }

        .Project-Box button:hover {
            background-color: rgb(180, 180, 180);
            color: black;
            font-size: 20px;
            transition: all 0.2s linear;
            cursor: pointer;
            }

.video {
    width: 500px;
    height: 300px;
}

.card {
    background-color: rgb(24, 24, 27);
    border-radius: 3px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 2rem;
    max-width: 100%;
    margin-top: 10px;
}

.avatar {
    border-radius: 100%;
    box-shadow: 0 0 16px black;
    height: 150px;
    width: 150px;
}

.user-info {
    font-family: Spartan;
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    font-family: Spartan-Bold;
    margin-top: 0;
}

.user-info ul {
    font-family: Spartan;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    font-family: Spartan;
    background-color: rgb(15, 14, 23);
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.2s linear;
}

.repo:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    transition: all 0.2s linear;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}