/* Custom Fonts */
@font-face {
    font-family: Spartan;
    src: url(Fonts/Spartan-Regular.ttf);
}

@font-face {
    font-family: Spartan-Bold;
    src: url(Fonts/Spartan-Bold.ttf);
    font-weight: bold;
}

/* Header */
.header {
    font-family: Spartan;
    overflow: hidden;
    background-color:rgb(24, 24, 27);
    width: 100%;
    border-width: 6px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    width: 200px;
    border-radius: 4px;
    margin: 10px;

    transition: all 0.2s linear;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    font-size: 20px;
    transition: all 0.2s linear;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .header-left {
      float: left;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 14, 23);
}

/* Text Info Box */
.Info-Box {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
    height: 45%;
    margin-top: 10%;
    border-radius: 3px;
    background-color:rgb(24, 24, 27);
    }

    /* Info Box Elements */
    .Info-Box h1 {
        color: white;
        font-family: Spartan-Bold;
        font-size: 24px;
    }

    .Info-Box h2 {
        color: white;
        font-size: 22px;
    }

    .Info-Box p {
        color: white;
        font-size: 20px;
    }

    .Info-Box a {
    align-self: center;
    color: white;
    background-color: rgb(24, 24, 27);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    width: 90%;
    border-radius: 4px;
    margin: 10px;

    transition: all 0.2s linear;
    }
    
  
    /* Change the background color on mouse-over */
    .Info-Box a:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    font-size: 20px;
    transition: all 0.2s linear;
    }

/* Project displays */
.Project-Box {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 80%;
    margin-top: 5%;
    border-radius: 3px;
    }

    .Project-Box h1 {
        color: white;
        font-family: Spartan-Bold;
        font-size: 24px;
    }

    .Project-Box h2 {
        color: white;
        font-size: 22px;
    }

    .Project-Box p {
        color: white;
        font-size: 20px;
    }

    .Project-Box a {
        align-self: center;
        color: white;
        background-color: rgb(24, 24, 27);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 20px;
        width: 500px;
        border-radius: 4px;
        margin: 10px;
    
        transition: all 0.2s linear;
        }
        
      
    /* Change the background color on mouse-over */
    .Project-Box a:hover {
        background-color: rgb(180, 180, 180);
        color: black;
        font-size: 20px;
        transition: all 0.2s linear;
        }

    @media screen and (max-width: 700px) {
        .Project-Box h1 {
            width: 500px;
        }
    }