@font-face {
    font-family: 'Spartan';
    src: url(/Fonts/Spartan-Regular.ttf);
}

@font-face {
    font-family: 'Spartan-Bold';
    src: url(/Fonts/Spartan-Bold.ttf);
    font-weight: bold;
}

h1 {
    font-family: Spartan-Bold;
    font-size: 24px,
}

h2 {
    font-size: 20px,
}

p {
    font-size: 16px;
    font-family: Spartan;
    color: red,
}